:root {
  --primary-bc-light-maroon: #fff6f6;
  --ff-primary: "Lato", "Bree", "Roboto", "Helvetics Neue";
}

body {
  font-family: var(--ff-primary), "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-bc-light-maroon);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
